* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: mabry;
  max-width: 700px;
}

@font-face {
  font-family: "mabry";
  src: url(./fonts/Mabry\ Pro\ Medium/Mabry-Pro-Medium.ttf);
  font-style: normal;
  font-weight: 600;
}

.container {
  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  margin: 100px 50px;
  width: auto;
  /* border: rgba(255, 255, 255, 0.137); */
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px rgba(53, 52, 52, 0.205);
}

.title {
  font-family: mabry;
  font-size: 2em;
  text-align: center;
}

.user-input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 24px 8px;
}

.user-input-child {
  padding: 24px 8px;
}
